services:
  nginx:
    image: nginx:1.21-alpine
    volumes: 
      - ./nginx:/etc/nginx
    ports:
      - "9999:9999"
    depends_on:
      - backend
    
  backend:
    image: ${PROJECT_IMAGE_NAME:-gw2itemtracker.app}:${PROJECT_IMAGE_TAG:-dev}
    expose:
      - "8080"
    secrets:
      - mongodb_password
      - mongodb_user
        
secrets:
  db_password:
    environment: "MongoDbSettings__Password"
  db_user:
    environment: "MongoDbSettings__Username"