services:
  nginx:
    image: nginx:1.21-alpine
    volumes: 
      - ./nginx:/etc/nginx
    ports:
      - "9999:9999"
    depends_on:
      - backend
    
  backend:
    image: ${PROJECT_IMAGE_NAME:-gw2itemtracker.app}:${PROJECT_IMAGE_TAG:-latest}
    environment:
      MongoDbSettings__DbName: "gw2-item-tracker"
    expose:
      - "8080"
    secrets:
      - mongodb_password
      - mongodb_user
        
secrets:
  gw2-item-tracker-backend_mongodb_password:
    environment: "MONGODB_PASSWORD"
  gw2-item-tracker-backend_mongodb_user:
    environment: "MONGODB_USER"